{% extends 'tourists/base_local.html' %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        scroll-behavior: smooth;
    }

    a {
        text-transform: uppercase;
    }

    a:is(:hover, :focus-within) {
        opacity: 0.7;
    }

    img {
        max-width: 100%;
    }
    .tourist_body {
        display: flex;
        height: 100vh;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }
    .tourist_body::before {
        content: "";
        position: absolute;
        font-family: "Rubik", sans-serif;
        color: black;
        background-image: url(../../../static/images/local_body.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .home_container {
        width: 50%;
    }
    .text-para {
        font-size: 1em;
    }
    .heading_name {
        font-size: larger;
        font-weight: 900;
        color: #439A97;
    }
    .btn-flex {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .btn-flex-btn {
        padding: 1em;
        border-radius: 100vmax;
        color: white;
        background-color: #439A97;
    }
    .btn-flex-btn:hover {
        color: #439A97;
        background-color: white;
    }
</style>

<div class="tourist_body">
    <div class="home_container">
        <div class="heading_name">
            <h1>Hello Local</h1>
        </div>
        <p class="text-para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. At iste
            optio ipsam vel magni autem dolore in nulla, doloremque distinctio
            nam aspernatur accusamus ullam veritatis recusandae reiciendis
            dignissimos odio consequuntur ad nemo sapiente numquam ab.
            Asperiores, doloremque. Aperiam, enim at!
        </p>
    </div>
</div>

{% endblock %}