{% extends 'tourists/base_tourist.html' %}

{% block content %}

 
        <h1>Hotel list</h1>
        
        {% for POI in POI_list %}

        
        <strong> Hotel: {{ POI }}</strong>
        
        <ul> 
          
        <li>hotel name: {{ POI.name }}</li>
        <li> hotel location: {{ POI.location }}</li>
        <li> rooms : {{ POI.a_rooms }}</li>
        <li> Premium package price : {{ POI.premium_pack }}</li>
        <li> normal package price : {{ POI.normal_pack }}</li>
        <li> budget package price : {{ POI.budget_pack }}</li>
        
       
        </ul>

        <br>

        {% endfor %}

        <a> {{ result1 }} </a>  
        <a> {{ result2 }} </a>  

         

{% endblock %}