<style>
  .my_navbar {
      background-color: #439A97 !important;
  }
  .my_links {
      color: white !important;
  }
  .my_search {
      background-color: #CBEDD5;
  }
  .my_search:hover {
      background-color: white;
  }
  .my_search_btn {
      padding: 0.5em;
      color: #439A97;
      background-color: white;
  }
  .my_search_btn:hover {
      background-color: #251749;
      color: white;
  }
  .search_btn_gap{
    margin-right: 15px;
  }
  .my_dropdown_links{
    color: #439A97;
  }
</style>

<nav class="my_navbar navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="my_links navbar-brand" href="{% url 'home_tourist' %}"
            >Tourist website</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated%}

                <li class="nav-item dropdown">
                    <a
                        class="my_links nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        View Ratings
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="my_dropdown_links dropdown-item" href="{% url 'list-POI' %}"
                                >View POI Ratings</a
                            >
                        </li>

                        <li><hr class="dropdown-divider" /></li>

                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'list-Hotel' %}"
                                >View Hotel Ratings</a
                            >
                        </li>

                        <li><hr class="dropdown-divider" /></li>

                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'add-list-Hotel' %}"
                                >View Hotels</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="my_links nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        POI rate/add
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="my_dropdown_links dropdown-item" href="{% url 'POIadd_' %}"
                                >POI_addition</a
                            >
                        </li>

                        <li><hr class="dropdown-divider" /></li>

                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'POIrating_' %}"
                                >POI_rating</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="my_links nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Hotel rate/add
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'Hotelrating_' %}"
                                >Add hotel ratings</a
                            >
                        </li>

                        <li><hr class="dropdown-divider" /></li>

                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'comp-Hotel' %}"
                                >Comparison</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a
                        class="my_links nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Trips
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="my_dropdown_links dropdown-item" href="{% url 'Plan' %}"
                                >Plan trip</a
                            >
                        </li>

                        <li><hr class="dropdown-divider" /></li>

                        <li>
                            <a
                                class="my_dropdown_links dropdown-item"
                                href="{% url 'list-trip' %}"
                                >View trips</a
                            >
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="my_links nav-link" href="{% url 'book' %}"> Book </a>
                </li>

                <li class="nav-item">
                    <a class="my_links nav-link" href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="my_links nav-link" href="{% url 'register_user' %}"
                        >Register</a
                    >
                </li>

                <li class="nav-item">
                    <a class="my_links nav-link" href="{% url 'login' %}">Login</a>
                </li>

                {% endif %}
            </ul>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <form
                    class="d-flex"
                    method="POST"
                    action="{% url 'search' %}"
                    role="search"
                >
                    {% csrf_token %}

                    <input
                        class="my_search form-control me-2"
                        type="search"
                        placeholder="Search hotels"
                        aria-label="Search"
                        name="searched"
                    />
                    <button class="my_search_btn search_btn_gap btn btn-outline-secondary" type="submit">
                        Search
                    </button>
                </form>

                <form
                    class="d-flex"
                    method="POST"
                    action="{% url 'psearch' %}"
                    role="search"
                >
                    {% csrf_token %}

                    <input
                        class="my_search form-control me-2"
                        type="search"
                        placeholder="Search POI's"
                        aria-label="Search"
                        name="searched"
                    />
                    <button class="my_search_btn btn btn-outline-secondary" type="submit">
                        Search
                    </button>
                </form>
            </ul>
        </div>
    </div>
</nav>
