{% extends 'tourists/base_tourist.html' %}

{% block content %}

    
        <h1>trip list</h1>
        
        {% for POI in trip_list %}
        <strong>Trip : {{ POI }}</strong>
        
        <ul> 

        
        <li> Trip is for : {{ POI.Tourist_Name}}</li>
        <li> First POI : {{ POI.Choose_POI1 }}</li>
        <li> Second POI : {{ POI.Choose_POI2 }}</li>
        <li> Third POI : {{ POI.Choose_POI3 }}</li>
        <li> First Hotel : {{ POI.Choose_Hotel1 }}</li>
        <li> Second Hotel : {{ POI.Choose_Hotel2 }}</li>
     
         
        {% for locations in POI.Choose_Hotel.all %}
                 
        <li> Hotel : {{ locations.name }}</li>
       
        {% endfor %}
        
        

        </ul>

        <br>

        {% endfor %}

         

{% endblock %}