{% extends 'tourists/base_tourist.html' %} {% block content %}

<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        scroll-behavior: smooth;
    }

    a {
        text-transform: uppercase;
    }

    a:is(:hover, :focus-within) {
        opacity: 0.7;
    }

    img {
        max-width: 100%;
    }
    .home_container {
        width: 80%;
    }
    .text-para {
        font-size: 1em;
    }
    .comparison {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .trip_avail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }
    .heading_color {
        color: #439a97;
    }
    .trip_ind {
        border: 2px solid #439a97;
        border-radius: 5px;
        padding: 2em;
        text-align: center;
        width: 30%;
    }
    .trip_list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        list-style: none;
        text-align: justify;
    }
</style>

<div class="trip_avail">
    <h1 class="heading_color">Trip List</h1>
    {% for POI in trip_list %}
    <div class="trip_ind">
        <strong class="heading_color">Trip by {{ POI.0 }}</strong>
        <ul class="trip_list">
            <li><strong> Trip is for : </strong> {{ POI.0}}</li>
            <li><strong> First POI : </strong> {{ POI.1 }}</li>
            <li><strong> Second POI : </strong> {{ POI.2 }}</li>
            <li><strong> Third POI : </strong> {{ POI.3 }}</li>
            <li><strong> First Hotel : </strong> {{ POI.4 }}</li>
            <li><strong> Second Hotel : </strong> {{ POI.5 }}</li>
            {% for locations in POI.Choose_Hotel.all %}
            <li><strong>Hotel : </strong>{{ locations.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}
