{% extends 'tourists/base.html' %} {% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        box-sizing: border-box;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        scroll-behavior: smooth;
    }

    a {
        text-transform: uppercase;
    }

    a:is(:hover, :focus-within) {
        opacity: 0.7;
    }

    img {
        max-width: 100%;
    }
    .home_container {
        width: 80%;
    }
    .text-para {
        font-size: 1em;
    }
    .comparison {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .poi_avail {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
    }
    .heading_color {
        color: #439A97;
    }
    .poi_ind {
        border: 2px solid #439A97;
        border-radius: 5px;
        padding: 2em;
        text-align: center;
        width: 40%;
    }
    .poi_list {
        list-style: none;
        text-align: justify;
    }
</style>

<div class="poi_avail">
    <h1 class="heading_color">POI rating list</h1>
    {% for POI in POI_list %}
    <div class="poi_ind">
        <strong class="heading_color">Review given by: {{ POI.0 }}</strong>
    <ul>
        <li><strong> Rating given: </strong> {{ POI.1 }}</li>
        <li><strong> Review given: </strong> {{ POI.2 }}</li>
        <li><strong> POI name: </strong> {{ POI.3 }}</li>
        <li><strong> POI location: </strong> {{ POI.4 }}</li>
    </ul>
    <br />
    </div>
    {% endfor %}
</div>
 {% endblock %}
